div.main {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px;
}
div {
    margin: 15px 5px;
}
div.elem {
    padding: 10px;
    background-color: lightgrey;
    border-radius: 5px;
    max-width: 220px;
    max-height: 220px;
}
img.elem {
    max-width: 200px;
    max-height: 200px;
}
p.title {
    text-align: center;
}
a.menu {
    padding: 10px;
    background-color: lightgrey;
    font-size: larger;
    border-radius: 5px;
}
