{% extends "account/base.html" %}

{% block mainmenu %}
<div><a class="menu" href="{% url 'user_list' %}">User list</a></div>
<div><a class="menu" href="{% url 'add_user' %}">Add user</a></div>
<div><a class="menu" href="{% url 'password_change' %}">Change password</a></div>
<div>
    <form method="post" onclick="this.submit();" action="{% url 'logout' %}">
        {% csrf_token %}
        <a class="menu">Logout</a>
    </form>
</div>
{% endblock %}


{% block content %}
<div>
    <p>Hello, {{ user.username }}!</p>
    <p>You are in user menu, you can change password or logout.</p>
    <p>Admin in this menu can also display all users and edit them.</p>
</div>
{% endblock %}