{% extends "account/main_user.html" %}

{% block content %}
    {% for object in object_list %}
        <div class="elem">
            <p class="title">Username: {{ object.username }}</p>
            <p class="title">id: {{ object.id }}</p>
            <p class="title"><a href="{% url 'user_details' object.id %}">Open details</a></p>
            <p class="title"><a href="{% url 'edit_user' object.id %}">Edit user</a></p>
            <p class="title"><a href="{% url 'delete_user' object.id %}">Delete user</a></p>
        </div>
    {% empty %}
        <div class="elem">No Users</div>
    {% endfor %}
{% endblock %}