{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ page_header }}{% endblock %}</title>
    <link type="text/css" href="{% static 'picts/css/styles.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="main menu">
        {% block mainmenu %}
            {% for elem in mainmenu %}
                <div><a class="menu" href="{% url elem.url_name %}">{{ elem.button_name }}</a></div>
            {% endfor %}
            {% if single_element %}
                {% for elem in forsinglemenu %}
                    <div><a class="menu" href="{% url elem.url_name slug=object.slug %}">{{ elem.button_name }}</a></div>
                {% endfor %}
            {% endif %}

            {% if user.is_authenticated %}
                <div><a class="menu" href="{% url 'main_user' %}">User:{{user.username}}</a></div>
            {% else %}
                <div><a class="menu" href="{% url 'login' %}">Login</a></div>
            {% endif %}
        {% endblock %}
    </div>

    <div class="main header">
        {% block header%}
            <h1>{{ page_header }} {{ object.title }}</h1>
        {% endblock %}
    </div>

    <div class="main search">
        {% block search%}
        {% endblock %}
    </div>

    <div class="main content">
        {% block content %}
            <div class="elem">Dummy element</div>
        {% endblock %}
    </div>

    <div class="main navigation">
        {% block navigation %}
        {% endblock %}
    </div>
</body>
</html>
