{% extends "picts/base.html" %}

{% block content %}
    {% for object in object_list %}
        <div class="elem">
            <a href="{{ object.get_absolute_url }}">
                <p><img class="elem" src="{% if object.pict %}{{ object.pict.url }}{% endif %}" /></p>
                <p class="title">{{ object.title }}</p>
            </a>
        </div>
    {% empty %}
        <div class="elem">No pictures</div>
    {% endfor %}
{% endblock %}

{% block navigation %}
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
{% endblock %}
